{% load i18n %}
<h2>{% trans "Filters" %}</h2>
<form>
      {% for field, data in fields.items %}
      <label for= "id_{{ field }}">{{ data.label }}</label>
      <input id="id_{{ field }}" type="text" class="form-control" style="width: 350px" name="{{ field }}"{% if data.value %} value="{{ data.value }}"{% endif %}>
      {% endfor %}
      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Filter</button>
</form>
