<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>EEStore at {{ hostname }}</title>
        <style>
            body {
                max-width: 60em;
                float: center;
                margin: auto;
                font: normal 100% Helvetica, Arial, sans-serif;
                line-height: 1.3;
            }
            header h1 {font-size: 2rem}
            header .tagline {
                font: italic 1rem Helvetica, Arial, sans-serif;
            }
            section {
                margin-top: 2rem;
                margin-bottom: 1rem;
            }
            footer {margin-top: 2rem}
            footer table th {
                text-align: left;
                padding-right: 1rem;
            }
            footer table {
                border: 1px solid black;
                padding: 0.5rem;
                margin-bottom: 1rem;
            }
            .endpoints dl {
                line-height: 1.5;
                margin-bottom: 1.5rem;
            }
            .endpoints dt {
                grid-column-start: 1;
                font-weight: bold;
            }
            .endpoints dd {
                margin-left: 0;
            }
            @media (min-width: 600px) {
                .endpoints dl {
                    display: grid;
                    grid-template-columns: max-content auto;
                }
                .endpoints dt {
                    grid-column-start: 1;
                }
                .endpoints dd {
                    margin-left: 1.5rem;
                    grid-column-start: 2;
                }
            }
        </style>
    </head>
    <body>
        <header role="banner">
            <h1>EEStore</h1>
            <p class="tagline">External Entity Store - The one-stop shop for finding data for typeahead fields and selection boxes.</p>
        </header>
        {% if request.user.is_authenticated %}<div class="userinfo">
            You are logged in as: {{ request.user.username }} (<a href="{% url 'rest_framework:logout' %}">Log out</a>)
        </div>{% endif %}

        <section id="overview">
        <p>This is a running copy of <b>EEStore</b>, the <i>external entity store</i>.
        EEStore pulls a common subset of data from remote sources,
        canonicalizes them, attempts to normalize them, and combines them into
        a new source, one per data type. Data types can be:</p>
        <ul>
            <li>file formats</li>
            <li>licenses</li>
            <li>metadata schemas</li>
            <li>services</li>
            <li>organizations</li>
            <li>projects</li>
            <li>++ ..</li>
        </ul>

        <p>Each source is then made reachable via a public API, one per type.</p>

        </section>

        <section id="api">
        <h2>API</h2>

        <div class="endpoints">
            <dl>
                <dt>Endpoint</b><dd><a href="/api/">/api/</a></dd>
                <dt>Method</dt><dd>GET</dd>
                <dt>Public</dt><dd>Yes</dd>
                <dt>Description</dt>
                <dd>Root endpoint: Look here for the available sources. When
                accessing via browser (Content-Type: text/html) shows an
                autogenerated self-documenting site in the vein of
                Swagger/OpenAPI.</dd>
            </dl>
            <dl>
                <dt>Endpoint</b><dd><a href="/api/plugin/">/api/plugin/</a></dd>
                <dt>Method</dt><dd>GET</dd>
                <dt>Public</dt><dd>Yes</dd>
                <dt>Description</dt>
                <dd>List of plugins capable of pulling data from remote sources.</dd>
            </dl>
            <dl>
                <dt>Endpoint</b><dd>/api/plugin/<i>&lt;shortname&gt;</i>/refetch/</dd>
                <dt>Method</dt><dd>POST</dd>
                <dt>Public</dt><dd>No</dd>
                <dt>Description</dt>
                <dd>Make the specified plugin refresh its data from its remote source. The shortname is found from the list of all plugins.</dd>
            </dl>
            <dl>
                <dt>Endpoint</dt><dd><a href="{% url 'rest_framework:login' %}">/api-auth/login/</a></dd>
                <dt>Method</dt><dd>GET, then POST</dd>
                <dt>Public</dt><dd>Yes</dd>
                <dt>Description</dt>
                <dd>Administrative login, sets cookie</dd>
            </dl>
            <dl>
                <dt>Endpoint</dt><dd><a href="{% url 'rest_framework:logout' %}">/api-auth/logout/</a></dd>
                <dt>Method</dt><dd>GET</dd>
                <dt>Public</dt><dd>No</dd>
                <dt>Description</dt>
                <dd>Administrative login, removes cookie and ends session</dd>
            </dl>
            <dl>
                <dt>Endpoint</dt><dd><a href="/api-auth/token/">/api-auth/token/</a></dd>
                <dt>Method</dt><dd>POST</dd>
                <dt>Public</dt><dd>Yes</dd>
                <dt>Description</dt>
                <dd>Administrative login, sends back bearer token for session-free API-access</dd>
            </dl>
        </div>
        </section>

        <footer>
            <table>
                <tr><th>Version</th><td>{{ version }}</td></tr>
                <tr><th>Host</th><td>{{ hostname }}</td></tr>
                <tr><th>License</th><td>MIT</td></tr>
            </table>
        </footer>
    </body>
</html>
